* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
    background-image:url("smog.jpg");
  }

  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    outline:none;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color:rgb(206, 203, 203);
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  

  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* text-align: left; */
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion {
    font-size: 16px;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 5px;
    margin-top: 5px;  
  }
   
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  
  .panel {
    padding: 0 18px;
    background-color: #acabab;
    display: none;
    overflow: hidden;
  }
  .main{
    display: grid;
    align-items: center;
    justify-items: center;
    
  }
  h2{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
  }

  #submit {    
    outline:none;
    font-size: 16px;
    justify-items: right;
    margin-left: 10px;
    max-height: 45px;
    width: 90px;
    border-radius: 10px; 
  }

  .headerButton {
    display: flex;
  }

  .panel{
    text-align: center;
    border-radius: 80px;
    background-image: url("paper.jpg");
  }

 .autoComplet {   
   margin-bottom: 20px;   
  }

 #myInput {
   border-radius: 25px;
 }